footer {
    background-color: #e6cfba;
    height: 150px;
}
footer > p {
    padding: 60px;
    max-width: 1600px;
    margin: 0 auto;
    font-size: 16px;
    color: #31313190;
}

@media (max-width: 890px) {
    footer {
        height: 100%;
    }
    footer > p {
        padding: 40px 20px;
    }
}
